<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>

<!-- <p><%= user.name %></p>
<p><%= user.email %></p> -->

<!-- Show users on home Page -->
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>